<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Payment</title>
</head>
<body>
    <form action="/transaction/deposit" method="post">
        depositAccUsername: <input type="text" name="depositAccUsername" id="depositAccUsername"><br><br>
        amount: <input type="number" name="amount" id="amount"><br><br>
        summary: <input type="text" name="summary" id="summary"><br><br>
        location: <input type="text" name="location" id="location"><br><br>
        <!-- image: <input type="file" name="image" id="image"><br><br> -->
        <input type="submit" value="Send">
    </form>
    <h1>hello</h1>
   <p>Thank You For Saving With Bookie<br><br>
   Your Receipt is Attached In the pdf</p>
   <img src="https://res.cloudinary.com/del59phog/image/upload/v1665441239/zzaza76x3rgxaq5jvvuq.png" alt="image" height="100" width="150">
</body>
</html>