<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
            a.facebook {
	background: #4267b2;
}button {
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 3px;
	background: #d83f45;
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

a.button {
	box-sizing: border-box;
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 3px;
	background: #000;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: white;
}

a.google {
	background: #4787ed;
}

a.facebook {
	background: #4267b2;
}

button:hover {
	background-color: #c83f45;
}

h1 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	font-size: 24px;
	font-weight: 500;
}
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
            <a class="button facebook" href="/login/federated/facebook">Sign in with Facebook</a>
        </main>
    </body>
</html>